* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: #202124;
    color: #e8eaed;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 12pt;
    font-family: "Arial", sans-serif;
}

#google {
    margin: auto auto 0 auto;
    max-height: 10rem;
    flex-grow: 1;
}

#searcharea {
    min-height: 3rem;
    max-width: 30rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#searchbar {
    border: 1px solid #5f6368;
    border-radius: 1.5rem;

    padding: 0 1rem;

    min-height: 3rem;
    max-width: 30rem;
    width: 100%;

    display: flex;
    align-items: center;
}

#searchtext {
    outline: none;

    margin: auto 0;
    padding: 1rem 0;

    width: 100%;
    line-break: anywhere;
}

#search {
    outline: none;
    border: 1px solid #303134;
    border-radius: 0.25rem;
    background-color: #303134;
    color: #e8eaed;
    font-size: 1rem;

    padding: 0.5rem 0.75rem;
}

@keyframes scale {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.15); }
    100% { transform: scale(1); }
}

#search:focus, #search:hover { border-color: #5f6368; }

#step {
    margin: 2rem auto auto auto;
    flex-grow: 0.6;
}
