* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;

    background-color: #1e1e2e;
    color: #cdd6f4;
}

html {
    height: 100% !important;
}

body {
    padding: 1em;
    min-height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    font-size: 12pt;
    font-family: "Arial", sans-serif;
}

#google {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex: 1;
}

#google > img {
    max-height: 10em;
    margin-top: auto;
}

#google > * {
    margin: 0 auto;
}

#google > *:last-child {
    margin-bottom: auto;
}

#searcharea {
    min-height: 3em;
    max-width: 30em;
    width: 100%;
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#searchbar {
    border: 1px solid #45475a;
    border-radius: 1.5em;

    padding: 0 1em;

    min-height: 3em;
    max-width: min(30em, 90vw);
    width: 100%;

    display: flex;
    align-items: center;
}

#searchbar:has(:focus) {
    border: 1px solid #313244;
    background-color: #313244;
}

#searchtext {
    outline: none;

    margin: auto 0;
    padding: 0.5em 0;

    width: 100%;
    line-break: anywhere;
    white-space: pre-wrap;
}

#search {
    outline: none;
    border: 1px solid #313244;
    border-radius: 0.25em;
    background-color: #313244;
    color: #cdd6f4;
    font-size: 1em;

    padding: 0.5em 1em;
}

@keyframes scale {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.15); }
    100% { transform: scale(1); }
}

#search:focus, #search:hover { border-color: #45475a; }

#step {
    margin: 1em auto 0 auto;
}

#disclaimer {
    margin-top: auto;
    justify-self: flex-end;
    font-size: 0.75em;
}
